{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Employee Management</title>

    <link rel='stylesheet prefetch' href='{% static 'css/materialize.min.css' %}'>

    <link rel='stylesheet prefetch' href='{% static 'font/Material-Design-Icons.woff' %}'>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link href="{% static 'css/icon.css' %}" rel="stylesheet">

</head>

<body class="cyan ">

<div style="height: 100px"></div>

    <main class="container" style="margin-top:10px;padding-left: 0">

        <div class="row">

            <div class="col s6 offset-s3 card z-depth-3" style="padding: 50px">

                <form method="post" action="{% url 'login' %}">

                    {% csrf_token %}

                    <h4 class="form-signin-heading">Please sign in</h4>

                    {% if next %}

                        <div class="card red darken-1" style="padding: 10px;color: white;">

                            Hey, you can't access that page.

                        </div>

                    {% endif %}

                    {{ form.as_p }}

                    <input type="hidden" name="next" value="{{ next }}">

                    <div class="row">

                        <div class="col s9">

                            <button type="submit" class="btn btn-primary">

                                Submit

                            </button>

                        </div>

                    </div>

                </form>

            </div>

        </div>

    </main>

    <script src='{% static 'js/jquery-2.2.4.min.js' %}'></script>

    <script src='{% static 'js/materialize.min.js' %}'></script>

    <script src="{% static 'js/script.js' %}"></script>

</body>

</html>

