{% extends 'base.html' %}

{% block content %}

    <div class="row">

        <div class="col s12">

            <div style="padding: 35px;" class="card">

                <div class="row">

                    <div class="row"></div>

                    <div class="col s12">

                        <div class="row">

                            <div class="col s8">

                                <a class="waves-effect waves-light btn" href="{% url 'salaried.index' %}">

                                    <i class="material-icons">arrow_back</i>

                                </a>

                            </div>

                        </div>

                        <div class="row">

                            <div class="col m6">

                                <a href="{% url 'salaried.update' item.id %}" class="pink btn btn-block">

                                    Update employer

                                </a>

                            </div>

                            <div class="col m6">

                                <a href="{% url 'salaried.documents.index' item.id %}" class="btn btn-block">

                                    Update Attached files

                                </a>

                            </div>

                        </div>

                        <div class="row">

                            <div class="col s10 offset-s1">

                                {% include 'parts/errors.html' %}

                                <form method="POST" enctype="multipart/form-data">

                                    {% csrf_token %}

                                    {% include 'parts/form.html' %}

                                    <div class="form-group row" style="float: right">

                                        <div class="col s9">

                                            <button type="submit" class="btn btn-primary">

                                                Submit

                                            </button>

                                        </div>

                                    </div>

                                </form>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

{% endblock %}

