{% extends 'base.html' %}

{% block content %}

    <div class="row">

        <div class="col s12">

            <div style="padding: 35px;" class="card">

                <div class="row">

                    <div class="col s8">

                        <a class="waves-effect waves-light btn" href="{% url 'salaried.index' %}">
                            <i class="material-icons">arrow_back</i>
                        </a>

                    </div>

                </div>

                <div class="row">

                </div>

                <div class="row">

                    <div class="col s10 offset-s1">

                        {% include 'parts/errors.html' %}

                        <form method="POST" enctype="multipart/form-data">

                            {% csrf_token %}

                            {% include 'parts/form.html' %}

                            <h4>Attached pieces</h4>

                            {{ document_form_set.management_form }}

                            <div>

                                <div class="link-formset">

                                    {% for doc in document_form_set %}

                                        {% include 'parts/errors.html' with form=doc %}

                                        <div class="card" style="padding: 30px">

                                            {% include 'parts/form.html' with form=doc %}

                                        </div>

                                    {% endfor %}

                                </div>

                            </div>

                            <div class="form-group row" style="float: right">

                                <div class="col s9">

                                    <button type="submit" class="btn btn-primary">

                                        Submit

                                    </button>

                                </div>

                            </div>

                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>

{% endblock %}

