{% extends 'base.html' %}

{% block content %}

    <div class="row">

        <div class="col s12">

            <div style="padding: 10px 35px 3px 35px;" class="card">

                <div class="row row-margin-bottom">

                    <a style="margin-top: 11px;float: left;margin-right: 9px;" class="waves-effect waves-light btn" href="{% url 'salaried.create' %}">add</a>

                    <a style="margin-top: 11px;margin-right: 7px;" class="waves-effect waves-light btn" href="{% url 'salaried.import_salaried_index' %}">Import</a>

                    <a style="margin-top: 11px;" class='dropdown-button btn' href='#' data-activates='dropdown1'>Export</a>

                    <ul id='dropdown1' class='dropdown-content'>

                        <li>

                            <a href="{% url 'salaried.export_xls' %}">Export Xls</a>

                        </li>

                        <li>

                            <a href="{% url 'salaried.export_csv' %}">Export Csv</a>

                        </li>

                    </ul>

                    <form style="float: right" method="get" action="{% url 'salaried.index' %}">

                        <div class="row">

                            <div class="col s10">

                                <input name="keyword" class="col s12" type="text" placeholder="Search" value="{{ keyword }}">

                            </div>

                            <div class="col s2">

                                <button style="margin-top: 5px;" type="submit" class="waves-effect waves-light btn-floating btn-sm blue-grey">

                                    <i class="material-icons">search</i>

                                </button>

                            </div>

                        </div>

                    </form>

                </div>

                <div class="row">

                    <div class="col s12">

                        <table cellpadding="1" cellspacing="1" class="bordered striped" id="myTable">

                            <thead>

                                <tr>

                                    <th>First Name</th>

                                    <th>Last Name</th>

                                    <th>Hire Day</th>

                                    <th>Business unit</th>

                                    <th>Actions</th>

                                </tr>

                            </thead>

                            <tbody>

                                {% for item in items %}

                                    <tr>

                                        <td> {{ item.first_name }}</td>

                                        <td> {{ item.last_name }}</td>

                                        <td> {{ item.hire_day }}</td>

                                        <td> {{ item.bu.name }}</td>

                                        <td>

                                            <a class="waves-effect waves-light btn-floating btn-sm blue"

                                               href="{% url 'salaried.show'  item.id %}">

                                                <i class="material-icons">remove_red_eye</i>

                                            </a>

                                            <a class="waves-effect waves-light btn-floating btn-sm green"

                                               href="{% url 'salaried.update' item.id %}">

                                                <i class="material-icons">edit</i>

                                            </a>

                                            {% include 'parts/delete-form.html' with action='salaried.delete'%}

                                        </td>

                                    </tr>

                                {% endfor %}

                            </tbody>

                        </table>

                        <div class="col-md-12 ">

                            {% include 'parts/pagination.html' with items=items %}

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

{% endblock %}

