{% extends 'base.html' %}

{% block content %}

    <div class="card" style="margin: 10px; padding: 20px;">

        <a class="btn btn-success" href="{% url 'salaried.index' %}">

            <i class="material-icons">arrow_back</i>

        </a>

        <table class="bordered">

            <tr>

                <th style="width: 20%">First name

                </td>

                <td>{{ item.first_name }}</td>

            </tr>

            <tr>

                <th>Last name</th>

                <td>{{ item.last_name }}</td>

            </tr>

            <tr>

                <th>CIN</th>

                <td>{{ item.cin_code }}</td>

            </tr>

            <tr>

                <th>Birthday</th>

                <td>{{ item.birth_day }}</td>

            </tr>

            <tr>

                <th>Hireday</th>

                <td>{{ item.hire_day }}</td>

            </tr>

            <tr>

                <th>Email</th>

                <td>{{ item.email }}</td>

            </tr>

            <tr>

                <th>CNSS code</th>

                <td>{{ item.cnss_code }}</td>

            </tr>

            <tr>

                <th>business unit</th>

                <td>{{ item.bu.name }}</td>

            </tr>

            <tr>

                <th>experience years number</th>

                <td>{{ item.experience_years_number }}</td>

            </tr>

            <tr>

                <th>study level</th>

                <td>{{ item.level_study.name }}</td>

            </tr>

            <tr>

                <th>study degrees</th>

                <td>

                    <ul>

                        {% for ds in item.degrees_study.all %}

                        <li>{{ ds.name }} </li>

                    {% endfor %}

                    </ul>

                </td>

            </tr>

            <tr>

                <th>Documents :</th>

                <td>

                    {% if documents %}

                        <table class="bordered">

                            <tr>

                                <th>label</th>

                                <th>Description</th>

                                <th>Attached piece</th>

                            </tr>

                            {% for document in documents %}

                                <tr>

                                    <td>

                                        {{ document.label }}

                                    </td>

                                    <td>

                                        {{ document.description }}

                                    </td>

                                    <td style="width: 20%">

                                        <a class="waves-effect waves-light btn-floating btn-sm blue" href="{{ document.attached_piece.url }}">

                                            <i class="material-icons">file_download</i>

                                        </a>

                                    </td>

                                </tr>

                            {% endfor %}

                        </table>

                    {% endif %}

                </td>

            </tr>

        </table>

    </div>

{% endblock %}

